body {
  font-family: 'Open Sans', 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 85px; }
.item {
  font-size: 28px;
  padding: 0;
  display: block;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  text-align: left;
  min-height: 80px; }
.item:hover {
  background-color: #f3f3f3; }
.item .score {
  padding: 20px;
  float: left;
  display: block; }
.item .name {
  padding: 20px;
  font-weight: 400; }
.new-item {
  padding: 21px;
  background-color: #F7FAFF;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
.new-item label span {
  font-size: 24px; }
input {
  transition: all 0.1s ease-out;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-family: 'Open Sans', 'Lucida Grande', Helvetica, Arial, sans-serif;
  box-shadow: 0px 4px 0px -2px rgba(255, 255, 255, 0); }
input:focus {
  outline: none;
  border-color: #009CFF;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 0px -1px #009CFF, 0px 4px 0px -2px #009CFF; }
input[type='button'] {
  padding: 6px 10px; }
input[type='button']:disabled {
  background-color: #ccc; }
a {
  text-decoration: none; }
.item-placeholder {
  display: block;
  position: relative;
  text-align: center;
  font-style: italic;
  font-weight: 100;
  font-size: 1.5em;
  color: #ccc;
  top: 60px; }
.item .buttons {
  float: left;
  display: block;
  width: 100px; }
.item .buttons .action {
  display: block;
  padding: 21px;
  width: 40px; }
.btn {
  background-color: #009CFF;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out; }
.btn:hover {
  background-color: #5DB34A; }
.btn:focus {
  background-color: #009CFF;
  outline: none; }
.btn.action:focus {
  background-color: transparent; }
.action.delete {
  float: right;
  display: block;
  color: #CC0033;
  background-color: transparent;
  padding: 21px 15px;
  text-align: center; }
.action.delete:hover {
  color: white;
  background-color: #CC0033; }
.action.success {
  color: #999;
  background-color: transparent; }
.action.success:hover {
  color: #CC0033; }
