$page-padding: 1.5rem;

body {
  font-family: $font;
  font-weight: 200;
  margin: 0;
  padding: 0;
  &, * {
    box-sizing: border-box;
  }
  padding: $page-padding 0;
}

header, section {
  padding: 0 $page-padding $page-padding;
}

header {
  h1 {
    margin: 0;
  }
  input {
    width: calc(100% - 100px);
    border: none;
    border-bottom: 1px solid $gray;
    padding: 0 0 0.1em 0;
  }
  .actions {
    float: right;
    font-size: 2rem;
    a + a { margin-left: 0.5rem; }
  }
}

.animated-view {
  &.ng-enter {
    animation: 0.35s slideIn ease-in-out;
    -webkit-animation: 0.35s slideIn ease-in-out;
  }
}

h1 {
  font-size: 2.25rem;
}
h1,h2,h3,h4 {
  font-weight: normal;
  .ss-icon {
    font-size: 75%;
    vertical-align: middle;
    margin-right: 0.1em;
  }
}

a {
  text-decoration: none;
  color: $purple;
  transition: all 0.2s ease-out;
}
a:hover {
  color: $blue;
}

section.projects {
  // Amazeballs
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

project {
  flex: 1;

  position: relative;
  margin-right: $page-padding;
  margin-bottom: $page-padding;
  width: 20%;
  min-width: 15rem;

  background-color: $blue;
  padding: 0.75rem 1rem;
  color: white;
  border-radius: 0.25rem;

  a {
    color: white;
  }
  a:hover {
    color: $darkblue;
  }

  h2 {
    margin-top: 0;
    font-weight: 100;
    padding-right: 1rem;
  }
  h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.01rem;
    font-weight: bold;
  }

  ul {
    padding-left: 0.25rem;
    margin-top: 0;
    line-height: 1.5rem;
    li {
      list-style-type: none;
    }
  }
  .project-header {
    .remove {
      opacity: 0;
      position: absolute;
      top: 1.1rem;
      right: 1rem;
    }
  }
  &:hover {
    .project-header .remove {
      opacity: 1;
    }
  }
}

// Basic Styles
input {
  transition: all 0.1s ease-out;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.5);
  font-size: 2rem;
  font-family: $font;
}
input:focus {
  outline: none;
  border-color: #009CFF;
  background-color: rgba(255,255,255,0.8);
}
