$page-padding: 1.5rem;

body {
  font-family: $font;
  font-weight: 200;
  margin: 0;
  padding: 0;
  &, * {
    box-sizing: border-box;
  }
  padding: $page-padding 0;
}

header, section {
  padding: 0 $page-padding $page-padding;
}

header {
  h1 {
    margin: 0;
  }
  input {
    width: calc(100% - 60px);
    border: none;
    border-bottom: 1px solid $gray;
    padding: 0 0 0.1em 0;
  }
  .actions {
    float: right;
    font-size: 2rem;
  }
}

.animated-view {
  &.ng-enter {
    animation: 0.25s slideIn ease-in-out;
    -webkit-animation: 0.25s slideIn ease-in-out;
  }
}

h1 {
  font-size: 2.25rem;
}
h1,h2,h3,h4 {
  font-weight: normal;
  .ss-icon {
    font-size: 75%;
    vertical-align: middle;
    margin-right: 0.1em;
  }
}

project {
  float: left;
  margin-right: $page-padding;
  width: 20%;
  min-width: 15rem;

  background-color: $blue;
  padding: 1rem;
  color: white;
  border-radius: 0.25rem;

  h2 {
    margin-top: 0;
    font-weight: 100;
  }
  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.01rem;
  }
}

// Basic Styles
input {
  transition: all 0.1s ease-out;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.5);
  font-size: 2rem;
  font-family: $font;
}
input:focus {
  outline: none;
  border-color: #009CFF;
  background-color: rgba(255,255,255,0.8);
}

a {
  text-decoration: none;
  color: $purple;
}
a:hover {
  color: $blue;
}
