// Includes

$font: 'Proxima Nova', 'Open Sans', 'Lucida Grande', Helvetica, Arial, sans-serif;

$gray: #CCCCCC;
$blue: #1BBBEA;
$darkblue: #0049CD;
$purple: #FF44CB;

$usercolor1: #1BBBEA;
$usercolor2: #3879DD;
$usercolor3: #7D46DA;
$usercolor4: #DF3EB2;
$usercolor5: #E53960;
$usercolor6: #EF5D32;
$usercolor7: #D5A612;
$usercolor8: #D5A612;
$usercolor9: #57B331;
$usercolor10: #18BB5E;

@import 'utils';
@import 'base';
@import 'ss-standard';