// Includes

$font: 'Proxima Nova', 'Open Sans', 'Lucida Grande', Helvetica, Arial, sans-serif;

$gray: #CCCCCC;
$blue: #1BBBEA;
$darkblue: #0049CD;
$purple: #FF44CB;

@import 'utils';
@import 'base';
@import 'ss-standard';