<!DOCTYPE html>
<html ng-app="checkman">
  <head>
    <title>Localytics - Culture Survey</title>

    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/util.js"></script>

    <script src="//use.typekit.net/eln0ihq.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body ng-controller="MainController">
    <header>
      <div class="actions">
        <a href="" class="ss-icon">gear</a>
      </div>
      <h1><input ng-model="listTitle"></h1>
    </header>

    <section class="projects" ng-controller="ItemController">
      <project ng-repeat="project in projects"></project>
    </section>
  </body>
</html>